<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WFInstanceStore" 
         connectionString="Data Source=.\SQLSERVER;Initial Catalog=WFInstanceStore;Integrated Security=True" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding" />
    </protocolMapping>
    <bindings>
      <wsHttpBinding>
        <binding transactionFlow="true">
          <reliableSession enabled="true" />
          <security mode="None">
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <sqlWorkflowInstanceStore instanceCompletionAction="DeleteAll"
                                    connectionStringName="WFInstanceStore" />
          <workflowInstanceManagement authorizedWindowsGroup="AS_Administrators" />
          <workflowIdle timeToPersist="00:00:00" timeToUnload="00:01:00" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <microsoft.applicationServer>
    <monitoring>
      <default enabled="false" />
    </monitoring>
  </microsoft.applicationServer>
</configuration>